* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

#panel {
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60%;
    padding: 2rem;
}

/* Section Box */
.section-box {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
.logo {
    height: 20rem;
    width: 20rem;
    margin: auto;
    /* min-height: 3.5rem; */
}

img {
    height: 100%;
    width: 100%;
}

/* Title */
.title, .price {
    margin: 2rem;
    text-align: center;
}

/* Description */
.description {
    text-align: justify;
    padding: 1rem;
}

